.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1e90ff; /* Azul Dodger Blue */
  overflow: hidden;
  z-index: 1000;
}

.navbar a {
  float: left;
  display: block;
  color: white;  /* Color del texto */
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #0f6cbf; /* Un azul más oscuro al pasar el mouse */
  color: white;
}

.navbar a.active {
  background-color: #0b4a8d; /* Color activo */
  color: white;
}
